.error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	display: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



/*-----------------------------------------------------------------------------------*/
/*	2.	Document Setup (body, common classes, structure etc)
/*-----------------------------------------------------------------------------------*/

@font-face {
    font-family: 'Museo300';

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo500';

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo700';

    font-weight: normal;
    font-style: normal;
}

body {
	font: 12px/20px 'Museo500', Museo500, Helvetica, Arial, sans-serif;
	background:#efefef;
	margin:0;
	padding:0;
	color:#686868;
}

#wrapper {
	margin:0 auto;
	background:#fff;
}

a {
	text-decoration:none;
	color:#000;
	-webkit-transition:color 0.2s linear;
    -moz-transition:color 0.2s linear;
    -o-transition:color 0.2s linear;
    transition:color 0.2s linear;
}

a:focus , a:link, a:active {
	outline:none;
}

a:hover {
	color:#BD0D0D;
}

p {
	margin-bottom:20px;
}

.clear {
	clear:both;
}

.aligncenter {
	text-align:center;
}

.alignleft {
	text-align:left;
}

.alignright {
	text-align:right;
}

.space {
    height:60px;
    width:100%;
	clear:both;
}

label {
    color:#7F7F7F;
    display:block;
    font-weight:normal;
}

label.error {
    color: red;
    font-style: italic;
    margin: 5px 0 10px 0;
}

input[type="text"], input[type="password"], input.text, input.title, textarea, select {
    background:#FFFFFF;
    border:1px solid #EBEBEB;
}

input[type="text"]:focus, input[type="password"]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus {
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    border:1px solid #EBEBEB;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

input[type="text"], input[type="password"], input.text, input.title, textarea, select {
    font-family:Arial;
    font-size:15px;
    margin:5px 0;
}

input.text, input.title, select {
    padding:5%;
    width:89%;
}

input.title {
    font-size:13px;
}

textarea {
    height:130px;
    padding:2% 2%;
    width:95.5%;
}

form.inline {
}

form.inline p {
    margin-bottom:0;
}

.one-half { width: 460px }
.one-third { width: 300px; }
.two-third { width: 620px; }
.one-fourth { width: 220px; }
.three-fourth { width:700px; }
.one-sixth { width: 140px; }
.five-sixth { width: 780px }

.one-fourth, .one-half, .two-third, .one-third, .three-fourth, .one-sixth, .five-sixth {
	position: relative;
	margin-right:20px;
	float: left;
}

.percent-one-half { width: 48%; }
.percent-one-third { width: 30.66%; }
.percent-two-third { width: 65.33%; }
.percent-one-fourth { width: 22%; }
.percent-three-fourth { width: 74%; }
.percent-one-fifth { width: 16.8%; }
.percent-two-fifth { width: 37.6%; }
.percent-three-fifth { width: 58.4%; }
.percent-four-fifth { width: 67.2%; }
.percent-one-sixth { width: 13.33%; }
.percent-five-sixth { width: 82.67%; }

.percent-one-half,
.percent-one-third,
.percent-two-third,
.percent-three-fourth,
.percent-one-fourth,
.percent-one-fifth,
.percent-two-fifth,
.percent-three-fifth,
.percent-four-fifth,
.percent-one-sixth,
.percent-five-sixth {
	position: relative;
	margin-right: 4%;
	float: left;
}

.column-right {
	float:right;
}
.column-last {
	margin-right: 0!important;
	clear: right;
}

.intro {
	position:relative;
	padding-top:60px;
}

.services {
	overflow:hidden;
}

h2.intro-text {
	text-align:center;
}

h2.intro-text a {
	color:#fff;
	background:#222;
	padding:3px 7px 1px;
}

h2.intro-text a:hover {
	color:#fff;
	background:#000;
	padding:3px 7px 1px;
}

.centered-wrapper {
	width:940px;
	margin:0 auto;
}

.page-title {
	width:940px;
	margin:0 auto;
	clear:both;
	margin-bottom:50px;
	padding-top:50px;
}

.page-title .double-separator {
	margin:0;
}

.service-item {
	text-align:center;
	overflow:hidden;
}

h3.service {
	line-height:32px;
}

.separator {
	width:100%;
	height:1px;
	clear:both;
	background:#efefef;
	margin:40px 0;
}

.double-separator {
	width:100%;
	height:1px;
	clear:both;
	border-top:1px solid #efefef;
	border-bottom:1px solid #efefef;
	margin:40px 0;
}

#footer .double-separator {
	margin:50px 0;
}







